{% extends "base.html" %}
{% load title %}

{% block title %}{% title "Contact" %}{% endblock %}

{% block content %}

.page-header
    %h2 Contact Us

.row
    .span4
        %p Contact info here

{% endblock %}